<div class="container">
  <div class="card shadow mb-4">
    <div class="card-body">
     <table  class="table table-striped">
             <tr> <th>Id oeuvre</th>
              <th>Titre</th>
              <th>Artiste</th>
              <th>Date Création</th>
              <th>Catégorie</th>
              <th>Dimensions</th>
              <th>Description</th>
              <th>Prix</th>
              <th>Exposition</th>
             <th>Image</th></tr>
              <tbody >
                       <tr *ngFor="let oeuvre of oeuvres">
                          <td>{{oeuvre.idOeuvre}}</td>
                          <td>{{oeuvre.titre}}</td>
                          <td>{{oeuvre.artiste}}</td>
                          <td>{{oeuvre.dateCreation}}</td>
                          <td>{{oeuvre.categorie}}</td>
                          <td>{{oeuvre.dimensions}}</td>
                          <td>{{oeuvre.description}}</td>
                          <td>{{oeuvre.prix}} </td>
                          <td>{{oeuvre.exposition.nom}} </td>
                          <td><img class="card-img-top img-responsive"
src = "{{oeuvre.imageStr}}"
style = "height :50px;width:100px">
</td>
                          <td><a  *ngIf="authService.isAdmin()"  class="btn btn-danger" (click)="supprimerOeuvre(oeuvre)">Supprimer</a></td>
                          <td><a  *ngIf="authService.isAdmin()"  class="btn btn-success" [routerLink]="['/updateOeuvre',oeuvre.idOeuvre]">Modifier</a></td>


                        </tr>
               </tbody>
    </table>
    </div>
  </div>
</div>
